@import "../../base/styles/_var.css";

.medium {
  height: 25px;
  width: 100px;
  line-height: 25px;
}

.default {
  border: 1px solid $gray;
  color: $dark;
}

.warn {
  border: 1px solid $red;
}

.success {
  border: 1px solid $green;
}
