body {
  font-family: "Hannotate SC","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  font-size: 12px;
}

button {
  outline: none;
}
