@import "../../base/styles/_var.css";
@import "../../base/styles/_reset.css";
@import "../../base/styles/_common.css";


.username,
.password {
  outline: none;
}
.email {
  border: 1px solid #000;
}
.submit {
  display: block;
  height: 30px;
  width: 100px;
  text-align: center;
  line-height: 30px;
  border: 1px solid $black;
}
